.maindiv{
    background-color: rgb(189, 138, 236) ;
}
body{
    background-color: pink;
}
.maindiv2{
    background-color: transparent;
   
}
.div3{
margin-left:50% ;
}
.div2{
    margin-left:50% ;
 
}
.App {
    border: 2px solid black;
    width: 100px;
    height: 100px;
  }
  
  